* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 50px;
    background-color: #0084fd;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header .row {
    height: 50px;
    display: flex;
    color: white;
}

header img {
    scale: 0.7;
}

header .col-50 {
    width: 50%;
    display: flex;
}

header .col-50:last-child {
    justify-content: end;
}

.main-menu {
    display: flex;
    display: none;
}

.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
    margin: 0 auto;
}

header .w-95 {
    width: 100%;
}

.container:first-child {
    margin-top: 100px;
}

.col-100 {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px 30px 0px 30px;
}

.card {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.row-70 .col-45:first-child {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blue .card {
    margin-top: 30px;
}

.col-70, .col-20 {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.col-90 {
    width: 90%;
    margin: 0 auto;
}

.w-100 {
    padding: 20px;
}

.card-img {
    width: 95%;
    margin: 0 auto;
    width: 70%;
}
.card-text {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.hamburger i {
    scale: 1.7;
    line-height: 50px;
    margin-right: 10px;
}

h3 {
    padding-bottom: 40px;
}

h2 {
    padding: 40px 0px;
}

p {
    padding-bottom: 40px;
}

.button {
text-align: center;
}

main .col-100 img, .col-45 img {
    width: 100%;
    margin-top: 40px;
}

.col-33 {
    min-height: 400px;
}

.col-33 i {
    scale: 7;
    margin: 60px 0px;
}

.center {
    text-align: center;
}

.card-img img {
    border-radius: 100%;
    aspect-ratio: 1 / 0.9;
    scale: 0.7;
}

.date {
    margin-bottom: 40px;
    font-size: xx-large;
}

.w-65 .col-20 img {
    width: 50%;
    border-radius: 100%;
    aspect-ratio: 1 / 0.9;
    scale: 0.7;
}

.blue-card {
    background-color: #b5ddff;
    border-radius: 20px;
    color: #5a6e7f;
}

.blue-card p {
    line-height: 1.5;
}

.blue-card h3, .blue-card i {
    color: #0084fd;
}

.blue-card button {
    background-color: #0084fd;
    padding: 10px 30px;
    border-radius: 35px;
    border: none;
}

.blue-card button i, .blue-card button a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.violet-bkg {
    background-color: #9593E6;
    color: rgb(225, 224, 224);
    padding-bottom: 40px;
    line-height: 1.5;
}

.white-card {
    color: black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 40px;
}

.white-card p {
    font-style: oblique;
}

.white-card button {
    background-color:  #9593E6;
    color: #353454;
    border: none;
    padding: 20px 25px;
    font-size: x-large;
    border-radius: 50%;
}

.grey-txt {
    color: rgba(90,110,127,255);
}

.blue .violet-txt {
    color: #9593E6;
    font-size: x-large;
}

.blue .violet-bkg {
    border-radius: 30px;
}

.white-txt {
    color: white;
}

.violet-bkg .white-txt h2 {
    text-align: center;
    font-size: xx-large;
}

.second-white-card .date, .second-white-card h3 {
    color: #9593E6;
}

.second-white-card .date {
    font-size: 400%;
    font-weight: bold;
}

 .second-white-card p {
    font-style: normal;
    color: #5a6e7f;
    font-size: small;
}

.second-white-card button {
    border-radius: 20px;
    padding: 10px 40px;
    font-size: medium;
    color: white;
    margin-bottom: 30px;
}

.about-us p {
    line-height: 2;
}

.about-us {
    margin-bottom: 40px;
}

h1 {
    padding: 60px 0px;
    color: #9593E6;
}

.about-us h2 {
    color: #9593E6;
}

.about-us button {
    background-color: #9593E6;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    color: white;
}

.about-us button i {
    margin-right: 10px;
}

.quotation .fa-quote-left {
    color: #9593E6;
    position: absolute;
    right: 60%;
    top: 10%;
    font-size: xx-large;
}

.quotation {
    position: relative;
}

footer .violet-bkg {
    color: white;
}
footer .violet-bkg button {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #9593E6;
    margin-bottom: 30px;
}

.free {
    font-size: 400%;
    color: #fdc15f;
    margin-bottom: 30px;
}

footer .violet-bkg i {
    scale: 0.5;
}

.black-bkg {
    color: white;
}

.black-bkg a {
    color: #9593E6;
    width: 100%;
}

footer {
    background-color: #333333;
}

.position-main-img {
    position: relative;
    top: 5px;
}

header a:visited {
    text-decoration: none;
    color: white;
}

header .main-menu .main-menu-voice:last-child a:visited {
    text-decoration: none;
    color: #0084fd;
}

header .hamburger a:visited {
    text-decoration: none;
    color: #0084fd;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .accordion {
    border-radius: 5px;
    overflow: hidden;
  }

  .accordion-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  .link {
    text-decoration: none;
    opacity: 0;
    transition: all 0.1s;
  } 
  input:checked ~ .accordion-content .link {
    opacity: 1;
  }

  .accordion-padding {
    padding: 20px 50px;
  }

  .accordion-content {
    max-height: 0;
    background: white;
    transition: all 0.5s, color 0s;
    position: relative;
    bottom: 39%;
    color: transparent;
  }

  input:checked ~ .accordion-content {
    max-height: 100vh;
    border: 1px solid #03407a;
    color: #0084fd;
    font-weight: bold;
  }

  input:checked ~ .accordion-content:last-child {
    border-radius: 00px 0px 0px 20px;
  }

  .hamburger-icon {
    position: relative;
    left: 75%;
    bottom: 40%;
  }



@media screen and (min-width: 481px) and (max-width: 768px) {
    .col-66  {
        width: 64%;
    }

    .col-33 {
        width: 30%;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .w-95 .col-45 {
        width: 45%;
    }
    .col-70 {
        width: 70%;
    }
    .col-20 {
        width: 20%;
    }
    .card-img {
        width: 20%;
        margin-top: 20px;
    }
    .card-text {
        width: 60%;
    }

    .card-img img {
        scale: 1.8;
    }

    h1 {
        font-size: 300%;
    }
    
    .about-us h2 {
        font-size: large;
    }

    .about-us button {
        padding: 5px 5px;
        font-size: x-small;
    }

    .w-65 .col-20 .quotation img {
        width: 100%;
    }
    
    .quotation .fa-quote-left {
        right: 10%;
    }
}

@media screen and (min-width: 769px) {

    header button {
        border: none;
        border-radius: 30px;
        padding: 5px 20px;
        margin-top: 5px;
    }
    header a {
        text-decoration: none;
        color: black;
    }

    .main-menu-voice {
        margin-right: 10px;
    }

    .col-66  {
        width: 64%;
        display: flex;
    }

    .blue-card-content {
        width: 60%;
        margin-right: 30px;
    }

    .img-container {
        width: 40%;
        display: flex;
        align-items: flex-end;
    }

    .col-100 .position-main-img {
        width: 100%;
        position: relative;
        top: 0px;
        height: 50%;
    }

    .col-33 {
        width: 33%;
    }
    .wrap, .desktop-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .w-95 .col-33 {
        width: 30%;
    }
    .col-70 {
        width: 70%;
    }
    .col-20 {
        width: 20%;
    }
    .card-img {
        width: 20%;
        margin-top: 20px;
    }
    .card-img img {
        scale: 1.3;
    }
    .card-text {
        width: 60%;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .col-45, .row-70 .col-45:first-child {
        width: 45%;
    }
    .blue .row-70 .col-45 {
        width: 90%;
    }
    .desktop-wrap .card {
        margin-top: 40px;
    }
    .row-70 .col-45, .w-65 {
        margin: 0 auto;
    }
    .w-65 {
        width: 65%;
    }
    .hamburger {
        display: none;
    }
    .main-menu {
        width: 100%;
        display: block;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        font-size: small;
    }
    header .row {
        width: 65%;
    }

    .white-card {
        scale: 0.6;
        position: relative;
        top: 10%;
    }
    .violet-bkg .second-white-card {
        scale: 1;
    }
    h1 {
        font-size: 300%;
    }
    
    .about-us h2 {
        font-size: large;
    }
    .about-us button {
        padding: 5px 5px;
        font-size: x-small;
    }

    .w-65 .col-20 .quotation img {
        width: 100%;
    }
    
    .quotation .fa-quote-left {
        right: 10%;
    }
}